html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
/*
img {
  width: 100%;
}
*/
body, main {
  margin: 0;
  padding: 0;
}

li + img {
  width: 100%;
}

main ol {
  font-family: "Karma", serif;
  font-size: 1.4rem;
  line-height: 1.5;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 1rem;
}

main li {
  margin: 0;
  padding: 1rem;
  list-style-type: none;
  padding: 1rem;
  border: 3px solid #987ffa;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

main span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: auto 0 0 0;
}

span .cart {
  text-decoration: none;
  background-color: #6f00e7;
  font-family: "Oswald", sans-serif;
  color: white;
  border-radius: 3em;
  margin: 0 auto 0 0;
  padding: .5em 1.5em .7em;
  display: flex;
  align-items: center;
}

main h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: #6f00e7;
  margin: 0;
}

main p {
  margin: 0;
}

main section {

}
